.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3A0CA3;
}

.title{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.flexContainer{
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 100vh;
    background-color: #4895EF;
    color: white;

}

.leftHero{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.heroTitle{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.heroButton{
    border-radius: 4rem;
    background-color: #F72585;
    border: none;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}